<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= post.title %></div>
    <form class="ui form" action="/blogs/<%= post._id %>?_method=PUT" method="POST">
        <div class="field">
           <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title" value="<%= post.title %>">
        </div>
        <div class="field">
            <label>Image URL</label>
            <input type="text" name="blog[image]" placeholder="image url" value="<%= post.image %>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" placeholder="content"><%= post.body %></textarea>
        </div>
        <div class="field">
            <input class="ui red big basic button" type="submit">
        </div>
    </form>
</div>

<% include partials/footer %>