<% include partials/header %>

<div class="ui main text container segment">
    <h1>Blog Site</h1>
    <% posts.forEach(function(post) { %>
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="<%= post.image %>">
                </div>
                <div class="content">
                    <a class="header"><%= post.title %></a>
                    <div class="meta">
                        <span><%= post.created.toDateString() %></span>
                    </div>
                    <div class="description">
                        <p><%- post.body.substring(0, 100) %>...</p>
                    </div>
                    <div class="extra">
                        <a class="ui green basic button" href="/blogs/<%= post._id %>">Read</a>
                    </div>
                </div>
            </div>
        </div><hr>
    <% }) %>
</div>

<% include partials/footer %>




      