<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= post.title %></div>
    <div class="content">
            <span><%= post.created.toDateString() %></span>
        </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>">
            <div class="description">
                <p><%- post.body %></p>
            </div><hr>
            <a class="ui blue basic button" href="/blogs/<%= post._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= post._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete Blog Post</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>