body {
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container.main {
    margin-top: 7em;
    animation: fall 0.5s 1 0s linear;
}

i.icon {
    font-size: 2em;
    color: red;
}

#delete {
    display: inline;
}

@keyframes fall{
    0%{
        transform: rotate(0) translateY(-10%);
        opacity: 0;
        }
    50%{
        transform: rotate(-5%);
        opacity: 0.5;
        }
    80%{
        transform: rotate(0);
        opacity: 1;
        }
}